{% extends "layout.html" %}

{% block content %}
    <div id="banner_wrapper" style="height: 60%; background-image: url('{{ banner }}'); width: 85%; background-size: 100% 100%; background-repeat: no-repeat; position: absolute; top: 0; left: 0; z-index: -1;">

    </div>
    <div id="stage" style="float: left; height: 85%; width: 85%;">
        <img style="height: 100%; width: 100%; object-fit: fill" src="assets/images/concert_background.svg">
        <div id="video_player"></div>
    </div>
    <div id="ad" style="float:right; height:15%; width:15%; background-color:lightblue; text-align:center;">
        <div style="text-align:center">HTML5 Canvas</div>
    </div>
    <div id="chat" style="float: right; height:85%; width: 15%; background-color: yellow;">
        <iframe frameborder="0"
                scrolling="no"
                id="twitch_chat_new"
                src="https://www.twitch.tv/embed/sykkuno/chat?parent=streamparty.me"
                style="height:100%; width:100%"
        >
        </iframe>
    </div>
    <div id="audience" style="position: absolute; bottom: 5%; left: 0; background-color: pink; height: 20%; width: 85%; opacity: .5;">
        <canvas id="audience" style="height:100%; width:100%"></canvas>
    </div>
{% endblock %}