{% extends "layout.html" %}

{% block header %}
    <link rel="stylesheet" href="/assets/css/twitch.css">
    <script src="/assets/js/twitch.js"></script>
    <script>
        window.addEventListener('load', function () {
            canvas = document.getElementById('audience');
            ctx = canvas.getContext('2d');
            canvas.height = canvas.getBoundingClientRect().height;
            canvas.width = canvas.getBoundingClientRect().width;
            console.log('generating {{ viewers }} avatars');
            generateAvatars({{ viewers }});

            // for(i = 0; i <= 4; i++){
            //     randomAvatar = avatar_images[Math.floor(Math.random() * avatar_images.length)];
            //
            //
            // };
        });
    </script>
{% endblock %}

{% block content %}

    <body style="margin:0px;">
    <img src="{{ banner }}" style="width: 100%;">
    <div id="stage">
        <img src="/assets/images/stream_party.svg" id="stream_party_logo">
        <div class="twitch_player">
            <iframe
                    class="twitch_iframe"
                    src="https://player.twitch.tv/?channel={{ channel }}&parent=streamparty.me"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="false"
                    muted="false">
            </iframe>
        </div>
        <canvas id="audience" style="position:absolute; bottom: 0px; left: 0px; width:100%; height:20%;"></canvas>
    </div>

    <iframe frameborder="0"
            scrolling="no"
            id="twitch_chat"
            src="https://www.twitch.tv/embed/{{ channel }}/chat?parent=streamparty.me"
            style=""
    >
    </iframe>

    </body>

{% endblock %}`