<!DOCTYPE html>

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Stream Party</title>
    <meta name="description" content="StreamParty is a new way to interact with your Streaming Community">
    <meta name="author" content="Christian Bogausch">

    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">



    {% block header %}
    {% endblock %}

</head>

    {% block content %}{% endblock %}

    {% block scripts %}
    {% endblock %}

</html>