<!DOCTYPE html>

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
{#    <title>{% title %}</title>#}
    <meta name="description" content="StreamParty is a new way to interact with your Streaming Community">
    <meta name="author" content="Christian Bogausch">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/favicon.ico">



    {% block header %}
    {% endblock %}

</head>

    {% block content %}{% endblock %}

    {% block scripts %}
    {% endblock %}
</body>

</html>