<div data-color="black" class="sidebar ps">
    <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-image"><img src="img/icon-vue.png"></div>
    </a><a href="http://www.creative-tim.com" class="simple-text logo-normal"> Vue NUD PRO </a>
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-outline-white btn-icon btn-round"><i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i><i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i></button>
        </div>
    </div>
    <div class="sidebar-wrapper ps ps--active-x">
        <ul class="nav">
            <div class="user user__menu">
                <div class="photo"><img src="img/james.jpg" alt="avatar"></div>
                <div class="info"><a data-toggle="collapse" href="#"><span> James Amos <b class="caret"></b></span></a>
                    <div class="clearfix"></div>
                    <div>
                        <ul class="nav user-menu__nav" style="display: none;">
                            <li><a href="#vue"><span class="sidebar-mini-icon">MP</span><span class="sidebar-normal">My Profile</span></a></li>
                            <li><a href="#vue"><span class="sidebar-mini-icon">EP</span><span class="sidebar-normal">Edit Profile</span></a></li>
                            <li><a href="#vue"><span class="sidebar-mini-icon">S</span><span class="sidebar-normal">Settings</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <li class="router-link-exact-active active"><!----><!----><a href="/dashboard" aria-current="page" class="nav-link router-link-exact-active active"><i class="now-ui-icons design_app"></i>
                <p>Dashboard</p></a></li>
            <li to="/" tag="li" class=""><a href="#" data-toggle="collapse" class="nav-link sidebar-menu-item"><i class="now-ui-icons design_image"></i>
                <p> Pages <b class="caret"></b></p></a>
                <div style="display: none;">
                    <ul class="nav links__nav">
                        <li class=""><!----><!----><a href="/pricing" class="nav-link"><span class="sidebar-mini-icon">P</span><span class="sidebar-normal">Pricing</span></a></li>
                        <li class=""><!----><!----><a href="/pages/timeline" class="nav-link"><span class="sidebar-mini-icon">T</span><span class="sidebar-normal">Timeline</span></a></li>
                        <li class=""><!----><!----><a href="/login" class="nav-link"><span class="sidebar-mini-icon">L</span><span class="sidebar-normal">Login</span></a></li>
                        <li class=""><!----><!----><a href="/register" class="nav-link"><span class="sidebar-mini-icon">R</span><span class="sidebar-normal">Register</span></a></li>
                        <li class=""><!----><!----><a href="/lock" class="nav-link"><span class="sidebar-mini-icon">LS</span><span class="sidebar-normal">Lock Screen</span></a></li>
                        <li class=""><!----><!----><a href="/pages/user" class="nav-link"><span class="sidebar-mini-icon">UP</span><span class="sidebar-normal">User Profile</span></a></li>
                    </ul>
                </div><!----></li>
            <li to="/" tag="li" class=""><a href="#" data-toggle="collapse" class="nav-link sidebar-menu-item"><i class="now-ui-icons education_atom"></i>
                <p> Components <b class="caret"></b></p></a>
                <div style="display: none;">
                    <ul class="nav links__nav">
                        <li class=""><!----><!----><a href="/components/buttons" class="nav-link"><span class="sidebar-mini-icon">B</span><span class="sidebar-normal">Buttons</span></a></li>
                        <li class=""><!----><!----><a href="/components/grid-system" class="nav-link"><span class="sidebar-mini-icon">GS</span><span class="sidebar-normal">Grid System</span></a></li>
                        <li class=""><!----><!----><a href="/components/panels" class="nav-link"><span class="sidebar-mini-icon">P</span><span class="sidebar-normal">Panels</span></a></li>
                        <li class=""><!----><!----><a href="/components/sweet-alert" class="nav-link"><span class="sidebar-mini-icon">SA</span><span class="sidebar-normal">Sweet Alert</span></a></li>
                        <li class=""><!----><!----><a href="/components/notifications" class="nav-link"><span class="sidebar-mini-icon">N</span><span class="sidebar-normal">Notifications</span></a></li>
                        <li class=""><!----><!----><a href="/components/icons" class="nav-link"><span class="sidebar-mini-icon">I</span><span class="sidebar-normal">Icons</span></a></li>
                        <li class=""><!----><!----><a href="/components/typography" class="nav-link"><span class="sidebar-mini-icon">T</span><span class="sidebar-normal">Typography</span></a></li>
                    </ul>
                </div><!----></li>
            <li to="/" tag="li" class=""><a href="#" data-toggle="collapse" class="nav-link sidebar-menu-item"><i class="now-ui-icons files_single-copy-04"></i>
                <p> Forms <b class="caret"></b></p></a>
                <div style="display: none;">
                    <ul class="nav links__nav">
                        <li class=""><!----><!----><a href="/forms/regular" class="nav-link"><span class="sidebar-mini-icon">RF</span><span class="sidebar-normal">Regular Forms</span></a></li>
                        <li class=""><!----><!----><a href="/forms/extended" class="nav-link"><span class="sidebar-mini-icon">EF</span><span class="sidebar-normal">Extended Forms</span></a></li>
                        <li class=""><!----><!----><a href="/forms/validation" class="nav-link"><span class="sidebar-mini-icon">VF</span><span class="sidebar-normal">Validation Forms</span></a></li>
                        <li class=""><!----><!----><a href="/forms/wizard" class="nav-link"><span class="sidebar-mini-icon">W</span><span class="sidebar-normal">Wizard</span></a></li>
                    </ul>
                </div><!----></li>
            <li to="/" tag="li" class=""><a href="#" data-toggle="collapse" class="nav-link sidebar-menu-item"><i class="now-ui-icons design_bullet-list-67"></i>
                <p> Tables <b class="caret"></b></p></a>
                <div style="display: none;">
                    <ul class="nav links__nav">
                        <li class=""><!----><!----><a href="/table-list/regular" class="nav-link"><span class="sidebar-mini-icon">RT</span><span class="sidebar-normal">Regular Tables</span></a></li>
                        <li class=""><!----><!----><a href="/table-list/extended" class="nav-link"><span class="sidebar-mini-icon">ET</span><span class="sidebar-normal">Extended Tables</span></a></li>
                        <li class=""><!----><!----><a href="/table-list/paginated" class="nav-link"><span class="sidebar-mini-icon">PT</span><span class="sidebar-normal">Paginated Tables</span></a></li>
                    </ul>
                </div><!----></li>
            <li to="/" tag="li" class=""><a href="#" data-toggle="collapse" class="nav-link sidebar-menu-item"><i class="now-ui-icons location_pin"></i>
                <p> Maps <b class="caret"></b></p></a>
                <div style="display: none;">
                    <ul class="nav links__nav">
                        <li class=""><!----><!----><a href="/maps/google" class="nav-link"><span class="sidebar-mini-icon">GM</span><span class="sidebar-normal">Google Maps</span></a></li>
                        <li class=""><!----><!----><a href="/maps/full-screen" class="nav-link"><span class="sidebar-mini-icon">FSM</span><span class="sidebar-normal">Full Screen Maps</span></a></li>
                        <li class=""><!----><!----><a href="/maps/vector-map" class="nav-link"><span class="sidebar-mini-icon">VM</span><span class="sidebar-normal">Vector Maps</span></a></li>
                    </ul>
                </div><!----></li>
            <li class=""><!----><!----><a href="/widgets" class="nav-link"><i class="now-ui-icons objects_diamond"></i>
                <p>Widgets</p></a></li>
            <li class=""><!----><!----><a href="/charts" class="nav-link"><i class="now-ui-icons business_chart-pie-36"></i>
                <p>Charts</p></a></li>
            <li class=""><!----><!----><a href="/calendar" class="nav-link"><i class="now-ui-icons media-1_album"></i>
                <p>Calendar</p></a></li>
        </ul>
        <div class="ps__rail-x" style="width: 80px; left: 0px; bottom: 0px;">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 52px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; right: 0px;">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
        </div>
    </div>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; right: 0px;">
        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
    </div>
</div>